@charset "utf-8";
/*
* Author: Aditya
* date: 08-Aug-2014
* CSS Document 
*
*/

    
.RightFloat{
    float: right;
}
    
.normalButton{
    padding:7px;
    background-color:#111 !important;
    color:#05B9BD;
    cursor:pointer;
}
