/*
* Author: Aditya
* date: 08-Aug-2014
* CSS Document 
*
*/
@media (max-width: 400px) {
    .jssorSlidesDimensions{
        display:none;
    }
}
@media (min-width: 600px) {
    .jssorSlidesDimensions{
        width:680px;
        height:450px;
    }
}
@media (min-width: 750px) {
    .jssorSlidesDimensions{
        width:740px;
        height:500px;
    }
}
@media (min-width: 1260px) {
    .jssorSlidesDimensions{
        width:1260px;
        height:650px;
    }
}
@media (min-width: 1300px) {
    .jssorSlidesDimensions{
        width:1290px;
        height:650px;
    }
}
@media (min-width: 1350px) {
    .jssorSlidesDimensions{
        width:1340px;
        height:650px;
    }
}
@media (min-width: 1600px) {
    .jssorSlidesDimensions{
        width:1595px;
        height:650px;
    }
}
@media (min-width: 1720px) {
    .jssorSlidesDimensions{
        width:1720px;
        height:650px;
    }
}
@media (min-width: 1820px) {
    .jssorSlidesDimensions{
        width:1800px;
        height:650px;
    }
}
@media (min-width: 1920px) {
    .jssorSlidesDimensions{
        width:1898px;
        height:650px;
    }
}
@media (min-width: 3220px) {
    .jssorSlidesDimensions{
        width:3198px;
        height:2000px;
    }
}
@media (min-width: 4220px) {
    .jssorSlidesDimensions{
        width:4198px;
        height:3000px;
    }
}







/* jssor slider arrow navigator skin 20 css */
/*
.jssora20l                  (normal)
.jssora20r                  (normal)
.jssora20l:hover            (normal mouseover)
.jssora20r:hover            (normal mouseover)
.jssora20l.jssora20ldn      (mousedown)
.jssora20r.jssora20rdn      (mousedown)
*/
.jssora20l, .jssora20r {
	display: block;
	position: absolute;
	/* size of arrow element */
	width: 55px;
	height: 55px;
	cursor: pointer;
	background: url(../images/a20.png) no-repeat;
	overflow: hidden;
}
.jssora20l { background-position: -3px -33px; }
.jssora20r { background-position: -63px -33px; }
.jssora20l:hover { background-position: -123px -33px; }
.jssora20r:hover { background-position: -183px -33px; }
.jssora20l.jssora20ldn { background-position: -243px -33px; }
.jssora20r.jssora20rdn { background-position: -303px -33px; }

