@charset "utf-8";
/*
* Author: Aditya
* date: 08-Aug-2014
* CSS Document 
*
*/

body{
	color: #003ADF;
}

.animatedNuovo{
	float:left;
	margin-left:0%;
	opacity:0;
	transition:all 2s;
}

.content{
    margin-bottom: 100px !important;
}


.copyrights{
	float:left;
	bottom:0;
	width:100%;
	text-align:center;
	color:#aaa;
}
