@CHARSET "UTF-8";
.galleryOverflowContainer{
	width:100%;
	margin:0px;
	padding:0px;
	float:left;
	overflow-x:hidden;
}

@keyframes leftMove {
    from {margin-left: 100px;}
    to   {margin-left: -100px;}
}

@-webkit-keyframes leftMove {
    from {left: 100px;}
    to   {left: -100px;}
}


.galleryMovingContainer{
	float: left;
	height: 400px;
	position:relative;
	display: inline-flex;
	left:0px;
}
img.galleryItem.imgItem {
	cursor:pointer;
	position:relative;
	height:100%;

	-webkit-animation-name: leftMove;
    -webkit-animation-duration: 48s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    
	animation-name: leftMove;
    animation-duration: 48s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}
.galleryContentContainer {
  /* width: 100%; */
  overflow: auto;
  float: left;
}
.typeContainer{
  width: 100%;
  /* overflow: hidden; */
  /* margin: 50px auto; */
  display: none;
  /* float: left; */
  border-spacing: 0px;
}

.typeContainer img ,.typeContainer object {
    width: 100%;
    height: 300px;
    vertical-align: middle;
}

.typeContainer object {
}

div.typeContainer >div {
    display: table;
    margin: auto;
    width: 98%;
    text-align: center;
}

div.typeContainer > div> div {
    display: inline-block;
    width: 550px;
    margin: 10px;
    vertical-align: middle;
    cursor: pointer;
}

div.typeContainer > div> div:last-child {
}
@media screen and (max-device-width: 480px) and (orientation: portrait){
	div.typeContainer > div> div {
		width:125px !important;
	}
	#videosContainer > div >div{
    width: 250px !important;
	}
    #videosContainer > div > div:nth-child(n+5){
    	display:none !important;
    }
}
}

div#imagesContainer > div> div > div > div {
    display: block;
}

div#imagesContainer > div> div > div > div > div {
    display: block;
}

div#imagesContainer > div> div > div {
    display: block;
}

.activeContainer {
    display: table-cell !important;
}

div.typeContainer td>div {
    width: 90%;
    margin: 15px auto;
    box-shadow: 0px 5px 14px 1px #aaa;
}

div.typeContainer td>div img {
    width: 100%;
    vertical-align: middle;
}
.typeContainer table, .typeContainer tbody, .typeContainer tr{
	width:100%;
}
.typeContainer td{
width: 25%;	
/* width:100%; */	
text-align: center;
}
.galleryImagesCardContainer {
  width: 100%;
/*  height: 400px;
*/  height: 475px;
/*  margin-left: -35%;
*/  margin-left: -25%;
}
.galleryImagesCardContainer img {
/*  width: 400px;
  height: 275px;
*/  width: 600px;
  height: 350px;
  border: 10px solid #eed;
  box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.2);
  position: absolute;
/*  transform-origin: center 600px;
*/  transform-origin: center 900px;
  transition: all 3s linear, z-index 0.1s linear, transform 1s linear;
  -webkit-transition: all 3s linear, z-index 0.1s linear, transform 1s linear;
  -moz-transition: all 3s linear, z-index 0.1s linear, transform 1s linear;
  cursor: pointer;
}
.galleryImagesCardContainer:hover img:first-child {
  transform: rotate(15deg);
  -webkit-backface-visibility: hidden;
}
.galleryImagesCardContainer:hover img:last-child {
  transform: rotate(-15deg);
  -webkit-backface-visibility: hidden;
}
.galleryImagesCardContainer:hover img:nth-child(2) {
  transform: rotate(7deg);
  -webkit-backface-visibility: hidden;
}
.galleryImagesCardContainer:hover img:nth-child(4) {
  transform: rotate(-7deg);
  -webkit-backface-visibility: hidden;
}
.galleryTourType{
  text-align: center;
  color: #aab;
}
.galleryImagesCardContainer img:hover{
	z-index:10;
	box-shadow: 6px 6px 10px #aaa;
	zoom:1.1;
} 
.typeContainer h2{
  text-align: center;
  border-bottom: 5px solid #385;
  margin: 10px auto;
  width: 100px;
}
.galleryHead {
  margin: auto;
  display: block;
  width: 50%;
  cursor: pointer;
  text-transform: uppercase;
  float: left;
  /* border-bottom: 5px solid #45e145; */
  font-family: Arial;
}

.galleryHead h2 {
  text-align: center;
  /* border-bottom: 5px solid #385; */
  margin: 10px auto;
  width: 100px;

  font-weight: normal;
  font-size: 16px;
}
.headContain {
  text-align: center;
  width: 100%;
  margin: 0px auto;
  float: left;
}

.content {
    margin-bottom: 0px;
}
.activeHead{
	border-bottom:5px solid #129845;
	color: #129845;
}
#imgModalContainer{
	width: 80% !important;
	margin: 5% auto;
	background-color: transparent;
	display: table-cell;
	vertical-align: middle;
	position: fixed;
	height: 80%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.imgConBody > img {
    width: 100% !important;
    vertical-align: middle;
}
.imgConHead{
    background-color: transparent;

    float: left;
    width: 100%;
    color: #fff;
}

.imgConHead >div {
    padding: 3px 15px;
    text-decoration: underline;
    line-height: 1.3;
    cursor: pointer;
}
.imgConBody{

}
.imgConFoot{
	
}
.prevBut{
    float: left;

}
.nextBut{
    float: right;
	
}
.close{
    margin: auto;
	
    width: 100px;
    text-align: center;
}