/*
* Author: Aditya
* date: 08-Aug-2014
* CSS Document 
*
*/
.contentMenuIcons{
	margin-top:50px;
	width:100%;
	text-align:center;
}
.contentMenuIcons > div{
	margin-left:1%;
	display:inline-block;
}
.contentMenuIcons > img{
	width:380px;
}
.captionCentered{
	position:absolute;
	margin:20% auto;
	left:0;
	right:0;
	height:50%;
}
.captionCentered > h2{
	font-size:1em !important;
	margin: 0px auto;
}
.captionOnHoverContainer{
	width:16% !important;
}

.moreNewsLink{
	position:absolute;
	right:10%;
	bottom:2%;
	font-size:16px;
	color:#000;
	font-size:20px;
	font-weight:bold;
}
.contentNewsItems{
	margin-top:5% !important;
	border: 1px dotted #ccc;
}
@media (max-width: 400px) {
	.captionCentered{
		position:absolute;
		margin:15% auto;
		left:0;
		right:0;
		height:50%;
	}
	.captionCentered > h2{
		font-size:1em !important;
		margin: 0px auto;
	}
	.captionOnHoverContainer{
		width:50% !important;
	}
}
@media (max-width: 650px) and (min-width: 400px) {
	.captionCentered{
		position:absolute;
		margin:15% auto;
		left:0;
		right:0;
		height:50%;
	}
	.captionCentered > h2{
		font-size:1em !important;
		margin: 0px auto;
	}
	.captionOnHoverContainer{
		width:45% !important;
	}
}
