/*
* Author: Aditya
* date: 08-Aug-2014
* CSS Document 
*
*/
.contentMenuIcons{
	margin-top:50px;
	width:100%;
	text-align:center;
}
.contentMenuIcons > div{
	margin-left:1%;
	display:inline-block;
}
.contentMenuIcons > img{
	width:380px;
}
.contentNewsItems{
	margin-top:1%;
	width:100%;
	text-align:center;
	height:auto;
	padding-bottom:100px;
}
.captionCentered{
	position:absolute;
	margin:20% auto;
	left:0;
	right:0;
	height:50%;
}
.captionCentered > h2{
	font-size:1em !important;
	margin: 0px auto;
}
.captionOnHoverContainer{
	width:21% !important;
}

.newsItem{
	width:80%;
	max-width:100%;
	text-align:left;
	background-color:#FAFAFA;
	display:inline-block;
	color:#000;
	font-size:1em;
	padding:0 1%;
	max-height:450px;
	margin-left:1%;
	margin-top:1%;
}
.newsItem > .newsHeadline{
	font-weight:700;
	font-size:18px;
	text-align:center;
	float:left;
	width:100%;
	min-height:50px;
}
.newsItem > .newsFig{
	min-width:30%;
	max-width:300px;
	max-height:300px;
	float:left;
	margin-right:40px;
}
