@charset "utf-8";
/*
* Author: Aditya
* date: 08-Aug-2014
* CSS Document 
*
*/

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* box-sizing: border-box; */
}


.centeredContent{
	text-align:center;
}
.paddedContent{
	padding:10px;
}
.centeredInternalContent{
	margin:auto;
	left:0;
	right:0;
}
.topBorderedContent{
	border-top:1px solid #ccc;
}
.bottomBorderedContent{
	border-bottom:1px solid #ccc;
	border-bottom-style: dashed;
}
.blueColouredContent{
	color:#999;
}

.blueContentBox{
	width:300px;
	background-color: #aaa;
	border-radius: 10px;
	color: #ccc;
	margin-left:20px;
	padding: 10px 10px 40px 10px;
	display:inline-block;
	transition:all 1.5s linear;
	cursor:pointer;
}
.blueContentBox:hover{
	box-shadow: 1px 6px 6px 3px #aaa;
}
.blueContentBox:hover .darkColourHeading{
	text-decoration:underline;
}
.blueContentBox > .iconContainer{
	float:left;
	margin-top: 4%;
}

.whiteContentBox{
  height: 175px;
  width: 300px;
  color: #000;
  float: left;
  margin: auto 10px;
  padding: 15px 10px;
  text-align: justify;
  font-family: sans-serif;
  color: #305859;
  border-top: 5px solid #666;
  background: -webkit-linear-gradient(#ccc, #fff);
  background: -o-linear-gradient(#ccc, #fff);
  background: -moz-linear-gradient(#ccc, #fff);
  background: linear-gradient(#ccc, #fff);
}

.darkColourHeading{
  color: #fff;
  font-style: italic;
  font-size: 24px;
  float:left;
  margin: 15px 25px;
  cursor:default;
  width:70%;
}

.boxContent{
	width:75%;
	color: #333;
	font: 16px arial;
	float:left;
	text-align: left;
	margin-left:5%;
}
.qouteSpan{
  padding: 1px 5px;
  color: #666;
  border-left: 5px solid #05B9BD;
  transition: all 1s;
  font-size: 18px;
  font-style: italic;
}
.qouteSpan:hover{
	background-color:#666;
	color:#fff;
}

.actionHeadingImgBlock{
	width:95%;
	margin:auto;
}

.actionHeadingImgBlock > .imgContainer{
	border:none;
	float:left;
	width:20%;
	margin-left:10%;	
}
.imgContainer > img{
	float:right;
	width:100%;
}
.actionHeadingImgBlock .descriptionContainer{
	border:none;
	float:left;
	width:100%;	
	text-align:center;
}
.actionButton{
	cursor:pointer;
	color:#fff;
	background-color:#aaa;
	font-size:16px;
	font-weight:600;
	margin-top:1%;
	padding:10px;
}