@charset "utf-8";
/*
* Author: Aditya
* date: 08-Aug-2014
* CSS Document 
*
*/
/*
	HIT refers to heading image and text
*/
.HITcontentSection{
	width:80%;
	float:left;
	margin:2% 0% 0% 10%;;
	border-top: 1px solid #ccc;
	border-top-style:dashed;
}
.full_width_back{
	width:100% !important;
	margin:0% !important;
	border:none !important;
	background-repeat:no-repeat !important;
	background-size:cover !important;
	background-position:center !important;
	float:left;
	min-height:600px;
	overflow:hidden;
	transition:all 2s linear;
}
@media screen and (min-device-width: 800px) {
	.full_width_desc_container{
		transition:all 0.5s linear;
		padding-left:1500px;
	}
	.full_width_back:hover .full_width_desc_container{
		padding-left:0px;
	}
	.full_width_back p {
	  opacity: 0.1;
	  transition: all 2s linear;
	}
	.full_width_back:hover p {
	  opacity: 1;
	}
}

.full_width_desc_container{
  font-family: cursive;
  width: 70%;
  margin: auto;
  text-align:center;
}

.full_width_back h2{
	font-family:normal;
	font-style: italic;
	text-align:center;
}
.HITcontentSection > h2{
	font-style: italic;
}
.HITcontentSection > div.imgContainer{
	background-size: contain !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	width:350px;
	height:300px;
}
.HITcontentSection > div.left{
	float:left;
}
.HITcontentSection > div.right{
	float:right;
}
.HITcontentProductDescription{
  width: 60%;
  float: left;
  padding-top: 3%;
  margin-left: 8px;
  font-family: cursive;
  color: black;
}
table.productSpecifications{
	background-color:#EEEEEE;
}
table.productSpecifications td{
	padding:5px;
}
.t_l{
	color:#fff;
}
.t_d{
	color:#000;
}
.content{
	margin-bottom:0px;
}
@media screen and (max-device-width: 650px){
	.full_width_desc_container {
	  width: 97% !important;
	  font-size: 0.6em;
	}
	.full_width_back >h2{
		margin:3px;
	}
	.full_width_back{
		min-height:800px;
	}
}