/* reset */







div#navigation {
	margin: 0 0 1em 0;
}

div#navigation ul {
	list-style-type: none;
}

div#navigation li {
	font-size: 0.7em;
}

div#navigation li li {
	font-size: 1em;
}

div#navigation a.download {
	font-weight: bold;
	font-size: 1.1em;
}

div#navigation ul#features {
	margin: -0.5em 0 1em 1em;
	list-style-type: disc;
}

